<form action="/products/<%= _id %>" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" value="<%= name %>">

  <label for="price">Price</label>
  <input type="number" name="price" id="price" value="<%= price %>">

  <label for="image-url">Image URL</label>
  <input type="text" name="imageUrl" id="image-url" value="<%= imageUrl %>">

  <label for="description">Description</label>
  <textarea type="text" name="description" id="description"><%= description %></textarea>

  <button type="submit">Update Product</button>
</form>
